<!DOCTYPE html>
<html>
  <head>
    <title>Appmedic</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" href="http://static.livedemo00.template-help.com/wt_prod-15884/images/favicon.png" type="image/x-icon">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
